body {
  
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}
.table{
  border: 2px solid black;
  border-collapse: collapse;

}
td,th{
  border: 2px solid whitesmoke !important;
}
